version: '3.8'

services:
  frontend:
    image: ghcr.io/longhibeck/car-charging-reservation-frontend/frontend:latest
    ports:
      - "8080:80"
    depends_on:
        backend:
          condition: service_healthy

  
  backend:
    image: ghcr.io/longhibeck/car-charging-reservation-system/backend:latest
    expose:
      - "8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 5
