version: '3.8'

services:
  frontend:
    image: ghcr.io/longhibeck/car-charging-reservation-system/frontend:latest
    ports:
      - "8080:80"
    depends_on:
      - backend
  
  backend:
    image: ghcr.io/longhibeck/car-charging-reservation-system/backend:latest
