<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Car Charging Reservation System{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body>
    <header id="main-header">
        {% block header %}
        <h1>Car Charging Reservation System</h1>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        <p>ATTD Accelerator Sandbox Project</p>
        {% endblock %}
    </footer>
</body>

</html>