{% extends "base.html" %}

{% block content %}
<section id="reservations">
<h2>Your Reservations</h2>
</section>
<section id="cars">
<h2>Your Cars</h2>
{% if cars %}
<ul>
    {% for car in cars %}
    <li>
        {{ car.name }}
        {% if car.connectors %}
        ({{ car.connectors | map(attribute='type.value') | join(', ') }})
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no cars yet.</p>
{% endif %}
<a href="/car">View All</a>
</section>
<div class="logout-link">
	<a href="/logout">Logout</a>
</div>
{% endblock %}
